extends ../layout
block content
	.container
		.row
			table.table.table-hover.table-bordered#cate-list
				thead
					tr
						th 分类名
						th 更新时间
						th 操作
				tbody 
					each item in categories
						tr(id="item-id-#{item._id}")
							td #{item.name}
							td #{moment(item.meta.updateAt).format('YYYY-MM-DD HH:MM:SS')}
							td
								button.btn.btn-danger.mini.del(type="button",data-id="#{item._id}") 删除
	script(src="/js/category.js")