extends ../layout
block content
	.container
		.row
			.col-md-5
				form.form-horizontal(action="/user/signup", method="post", enctype="multipart/form-data")
					.form-group
						label.col-md-2(for="signupName") 用户名
						.col-md-10
							input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label.col-md-2(for="signPass") 密码
						.col-md-10
							input#signPass.form-control(name="user[password]", type="password")
					.form-group
						label.col-md-2(for="signAdmin") 选择用户类型
						.col-md-10
							label.radio-inline
								input(name="user[role]", type="radio" value="0", checked)
								|	普通用户
							label.radio-inline
								input(name="user[role]", type="radio" value="20")
								| 管理员用户
					.form-group
						label.col-md-2 选择头像
						.col-md-10
							input(type="file", name="avatar")
					.form-group
						label.col-md-2
						.col-md-10
							button.btn.btn-success(type="submit") 注册


						